apiVersion: v1
kind: Service
metadata:
  name: discovery-server
  namespace: spring-petclinic
spec:
  selector:
    app: discovery-server
  ports:
    - port: 8761
      targetPort: 8761
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-server
  namespace: spring-petclinic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-server
  template:
    metadata:
      labels:
        app: discovery-server
    spec:
      containers:
        - name: discovery-server
          image: discovery-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8761
